
body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background:#d9d9d9;
}
.demo-mb10{
  margin-bottom:5px;
}

.demos-title {
  text-align: center;
  font-size:12px;
  color: #3cc51f;
  font-weight: 400;
  background:#ffffff;
}
.titlemini{
  padding:5px!important;
}
.demos-font14 {
  font-size:14px;
}

.demosimg{
  height:12px;
  width: 12px;
}
.demosimg_search{
  height:18px;
  width: 18px;

}
.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}